{% extends "layout.html" %}

{% block title %}Start Your Financial Journey Today!{% endblock %}

{% block main %}

<header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 text-center">
                <div class="budget-subheading mt-5">
                    <h2>Start Your Financial Journey Today!</h2>
                    <p class="lead">Take control of your finances and achieve your dreams with Budget Lah's budgeting tools and tips.</p>
                    <a href="/register" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    <br>
</header>


<footer class="small text-center text-muted" style="position: absolute; left: 0; right: 0; bottom: 1;">
    <hr>
    <a href="https://github.com/Le-Jared" target="_blank">
        <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/le-jared/" target="_blank">
        <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <br>
    <p class="copyright text-muted">Copyright &copy; Budget Lah. 2023</p>
</footer>



{% endblock %}
