{% extends "layout.html" %}

{% block title %}Start Your Financial Journey Today!{% endblock %}

{% block main %}
    
<!-- Page Header -->
<header style="margin-top: auto;">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 col-md-offset-2 col-md-10 col-md-offset-1">
                <div class="budget-subheading">
                    <h2>Start Your Financial Journey Today!</h2>
                    <p class="lead">Take control of your finances and achieve your dreams with Budget Lah's budgeting tools and tips.</p>
                    <a href="/register" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>
<br>
</header>


{% endblock %}
