{% extends "layout.html" %}

{% block title %}
    Manage Expenses
{% endblock %}

{% block main %}
    <h1>Manage Expenses</h1>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Expenses</h5>
            <p>Tracking your individual expenses helps you refine your spending habits and save money.</p>
            <a href="/addexpenses" class="btn btn-success">Add Expenses</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">View or Update Expense History</h5>
            <p>View your expense history and make changes if needed.</p>
            <a href="/expensehistory" class="btn btn-success">View or Update Expenses</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Upload Expenses</h5>
                <p>Upload UOB Credit Card Statements</p>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#uploadXlsModal">Upload File</button>
            </div>
        </div>
    </div>
    
    <!-- Upload xls Modal -->
    <div class="modal fade" id="uploadXlsModal" tabindex="-1" role="dialog" aria-labelledby="uploadXlsModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="uploadXlsModalLabel">Upload UOB Credit Card Statements</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/uploadxls" id="uploadxls" method="post" enctype="multipart/form-data" autocomplete="off">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <div class="form-group">
                <label for="xlsFile" class="col-form-label">Select .xls:</label>
                <input type="file" class="form-control-file" name="xlsFile" id="xlsFile" accept=".xls, .xlsx" form="uploadxls" required>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" form="uploadxls">Upload</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>    

{% endblock %}